parameters:
    level: 7
    paths:
        - src
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Unreachable statement \- code above always terminates\.#'
