<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticProperties="false"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         displayDetailsOnPhpunitDeprecations="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         processIsolation="false"
         stopOnFailure="false"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
>
    <source ignoreSuppressionOfDeprecations="true"
            ignoreSuppressionOfPhpDeprecations="true"
            ignoreSuppressionOfErrors="true"
            ignoreSuppressionOfNotices="true"
            ignoreSuppressionOfPhpNotices="true"
            ignoreSuppressionOfWarnings="true"
            ignoreSuppressionOfPhpWarnings="true"
    >
        <include>
            <directory>src</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="WebPush Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
